#commoditys-item {
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(59, 62, 68, 0.082);
}

.commoditys-img {
  transition: all 0.2s;
}
.commoditys-img:hover {
  scale: 1.05;
}
#commoditys-btn {
  background-color: #b29b9763;
}
