#commoditys-item {
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(126, 126, 126, 0.014);
  box-shadow: rgba(42, 42, 42, 0.114) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: all 0.2s;
}
#commoditys-item:hover {
  cursor: pointer;
  transform: translateY(-8px);
}

#commoditys-btn {
  background-color: #22222220;
}
