.shop-title{
    background-image: url('../../assets/images/Pizelex.jpg');
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.fine-btn{
    border: 0.1px solid gray;
    padding: 5px 10px;
    border-radius: 5px;
    background-color:#e2e8f0;
    transition: all 0.4s;
}
.fine-btn:hover{
    background-color: rgb(61, 124, 68);
    transform: scale(1.1);
}